<launch>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="json_file_path" value="$(find trackdlo)/config/preset_decimation_4.0_depth_step_100.json" />
    <arg name="filters" value="pointcloud,temporal,decimation" />
    <arg name="depth_fps" value="10" />
    <arg name="depth_height" value="720" />
    <arg name="depth_width" value="1280" />
    <arg name="color_fps" value="10" />
    <arg name="color_height" value="720" />
    <arg name="color_width" value="1280" />
    <arg name="align_depth" value="true" />
    <arg name="ordered_pc" value="true" />
  </include>
  
  <!-- <node pkg="tf" type="static_transform_publisher" name="link_6_to_camera_color_optical_frame_tf" args="0.0131191 0.0345247 -0.0382688 0.720125 -0.6938341 -0.0023252 0.0029631 link_6 camera_color_optical_frame 10" /> -->
  
  <node pkg="tf" type="static_transform_publisher" name="link_6_to_camera_link_tf" args="0.01367676, 0.01953508, -0.03825736 -0.0120744, 0.7099908, 0.0078629, 0.7040636 link_6 camera_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_link_6_tf" args="0.374, 0.000, 0.630 0 0 0 1 base_link link_6 10" />

  <!-- tracking rviz file -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find trackdlo)/rviz/tracking.rviz" /> -->

</launch>
